* {
	text-align: center;
	/* padding: 5px; */
}

body {
	font-family: 'Jomolhari', serif;
	/* font-family: 'Aleo', serif; */
}

/* Navigation */
.navbar-dark .navbar-nav .nav-link {
	color: white;
	text-align: right;
	font-family: 'Aleo', serif;
	font-size: 1.2em;
}

.navbar-dark .navbar-ot .navbar-nav .nav-link {
	color: white;
	text-align: right;
}

/* For the navigation brand */
.navbar-dark .navbar-brand {
	color: white;
	font-family: 'Permanent Marker', cursive;
	font-size: 2rem;
}

.btn-logout {
	width: 100%;
	padding: 2px 0px !important;
	text-align: right !important;
}

.bg-custom {
	background-color: rgb(61, 92, 172);
}

.navbar-collapse .navbar-nav {
	/* display: inline-block; */
	text-align: center;
	/* margin: auto; */
}

.background {
	background-color: rgb(61, 92, 172);
}

.jumbotron {
	background: url(../../img/melt.jpg) no-repeat center;
	background-size: cover;
	padding-top: 20%;
	padding-bottom: 20%;
}

.coverWords {
	top: 50%;
	bottom: 50%;
	/* color: black; */
}

.mindful {
	color: black;
	font-family: 'Permanent Marker', cursive;
}

.buttonContainer {
	padding: 5px;
}

.btn {
	margin: 5px;
}

.buttonContainer {
	margin: 15px;
}

/* 
.smallerContainer {
	background-color: pink;
	margin: 1px;
	padding: 2px;
} */

.main {
	margin-top: 80px;
}

.words {
	/* background-color: white; */
	display: block;
	max-width: 900px;
	padding-top: 5px;
	/* opacity: 0.5; */
	font-size: 1.1rem;
	font-family: 'Jomolhari', serif;
}

.topImg {
	max-width: 300px;
}

.imgSize {
	max-width: 300px;
	max-height: 300px;
}

.img-thumb {
	width: 150px;
	height: 150px;
	object-fit: cover;
	/* border-radius: 28px; */
}

.imgMedium {
	width: 500px;
	height: 500px;
	object-fit: cover;
}

.displayArea {
	padding-top: 10px;
}

.showDescription {
	padding-top: 5px;
	margin: 35px;
	text-align: center;
	list-style: none;
}

.description {
	padding-top: 5px;
}

.mainNew {
	display: block;
	padding-top: 25px;
}

.formSize {
	width: 50%;
	margin: auto;
}

.btn-custom {
	background-color: rgb(61, 92, 172);
	border-color: rgb(61, 92, 172);
	color: white;
	margin: 2px;
}

a {
	color: rgb(61, 92, 172);
}
