<!DOCTYPE html>
<html>
    <head>
        <% include ./partials/nav.ejs %>
        <% include ./partials/head.ejs %>
    </head>
    <body>
        <nav>
        </nav>
        <div class="container containerAbout">
                <h1>About Us</h1>
            <div class="containerAbout">

            </div>
        </div>   
                <div class="container coverWords">
                    <h1 class="display-3 ">Mindful Shopping</h1>
                    <div class="container words">
                      <p class="">If you can't stop shopping, you might as well shop for a good cause.
                        With the Social Store, </br>you can shop with over 300 of our partners and do some good while coughing out those moolah!</p>
                    </div>
                </div>
        </main>
    </body>
</html>