<!DOCTYPE html>
<html>
    <head>
        <% include ./partials/nav.ejs %>
        <% include ./partials/head.ejs %>
    </head>
    <body>
        <nav>
        </nav>
        <main>
            <div class="container-fluid">
                <h1 class="blue titlr">About Us</h1>
            </div>   
            <div class="container-fluid">
                    
                    <img src='/img/love.jpg' class='imgAbout img-fluid' alt='the social store'>
                    <div class="container-fluid words">
                      <h6 class="blockquote blue">As Singaporeans, we all know we love shopping! So why not use that moolah to spread some love by supporting
                          these social enterprises who have excellent products and an even more outstanding mission.</h6>
                    </div> 
            </div>
        </main>
    </body>
</html>