<!DOCTYPE html>
<html>
    <head>
      <% include ../partials/nav.ejs %>
      <% include ../partials/head.ejs %>
    </head>
    <body>
      <header>
          <nav>
              <ul>
                <li>
                  <a href="/">Home</a>
                </li>
                <li>
                  <a href="/shops">Shop Index</a>
                </li>
              </ul>
            </nav>
          </header>
      </header>

        <div class="container mainNew">
          <div class="form-group mb-2 formSize">
            <h1>Create a new shop!</h1>
            <form action="/shops" method="POST">
              Shop Name: <input type="text" class="form-control" name="shopName" /><br/>
              Description: <input type="textarea" class="form-control" name="description" /><br/>
              How we do good: <input type="text" class="form-control" name="socialCause" /><br/>
              Products: <input type="text" class="form-control" name="products" /><br/>
              Website: <input type="text" class="form-control" name="website" /><br/>
              Image: <input type="text" class="form-control" name="img" /><br/>
              <input type="submit" name="submit" value="Create Shop"/>
            </form>
          </div>
        </div>

    <nav>
        <a href="/shops">Back</a></br>
        shops/new.ejs
    </nav>
    </body>
    <footer>
    </footer>
</html>